{
  "extends" : ["@visionappscz/eslint-config-visionapps"],
  "env": {
    "browser": true,
    "jest": true
  },
  "overrides": [
    {
      "files": [
        "**/index.js",
        "src/resources/**",
        "src/services/**"
      ],
      "rules": {
        "import/prefer-default-export": "off"
      }
    }
  ]
}
