# See https://help.github.com/ignore-files/ for more about ignoring files.

# Dependencies
/node_modules

# Project specific
/config/config.js
/public/200.html
/public/bundle.js
/public/sw.js
/public/appcache
