// stylelint-disable declaration-no-important

.tableWrapper {
  width: 100%;
  overflow-x: auto;
}

.addButton {
  position: fixed !important;
  top: auto;
  right: 2rem;
  bottom: 2rem;
  left: auto;
  margin: 0 !important;
}
